<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Encomage_Core::menu"
                title="Encomage"
                translate="title"
                module="Encomage_Core"
                sortOrder="30"
                resource="Encomage_Core::menu"
        />
        <add
                id="Encomage_Core::settings"
                title="Encomage Core Settings"
                translate="title"
                module="Encomage_Core"
                sortOrder="200"
                parent="Encomage_Core::menu"
                resource="Encomage_Core::menu"
        />
    </menu>
</config>